[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/portfolio"]
	path = lib/portfolio
	url = https://github.com/primitivefinance/portfolio
[submodule "lib/portfolio-erc20-wrapper"]
	path = lib/portfolio-erc20-wrapper
	url = https://github.com/primitivefinance/portfolio-erc20-wrapper
